/* Colors */
$white: #fff;
$dark-grey: #979797;
$black: #191919;
$light-black: #282828;
$light-grey: #e3e3e3;
$verylight-grey: #282828;
$sidebar-seperator-color: #333333;
$grey: #bababa;
$dark-orange: #f58220;
$orange: #ffa200;
$green: #80ff00;
$blue: #80bfca;
/* Font sizes */
$section-header-color: #a6a6a6;
$page-header-color: #a6a6a6;
$section-text-color: #a6a6a6;
