/* Colors */
$white: #fff;
$dark-grey: #979797;
$light-grey: #e3e3e3;
$grey: #bababa;
$dark-orange: #f58220;
$orange: #ffa200;
$green-circle: #80bfca;
/* Font sizes */
$section-header-color: #a6a6a6;
$page-header-color: #a6a6a6;
$section-text-color: #5d5d5d;
/* Fonts */
@mixin page-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size:16px;
  color: $page-header-color;
}
@mixin section-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size:16px;
  color:$section-header-color;
}
@mixin section-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size:14px;
  color: $section-text-color;
}

/* LINKS */
@mixin large-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size:16px;
  color: #56819f;
  text-decoration: none;
}
@mixin link-hover {
  color:#ffa200;
}

// COROR TABS
@mixin tab {
  width:126px;
  height:40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size:16px;
  display:flex;
  justify-content:center;
  align-items: center;
  text-decoration: none;
}

// TABLE WITH LINK
@mixin table {
  width:366px;
  height:50px;
  outline:1px solid #e3e3e3;
  display:flex;
  align-items: center;
}
@mixin table--items-position {
  margin-left:20px;
}
@mixin table--line-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-left:20px;
  margin-right:50px;
  width:200px;
  height:50px;
  @include flex-center;
}

// BUTTONS
@mixin btn {
  width:93px;
  height:40px;
  border-radius:3px;
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border:0;
  font-size:18px;
  box-shadow: none;
  text-align: center;
  cursor: pointer;
}
@mixin btn-disabled {
  width:203px;
  background-color: $light-grey;
}
@mixin fa-circle {
  width:100%;
  height:16px;
  color:$green-circle;
  border:0;
  margin:20px;
}

// LIST WITH ONE DIGIT
@mixin list--one-digit {
  width:370px;
  height:40px;
  border-bottom: 1px solid $light-grey;
  align-items: center;
  display: flex;
}
@mixin list--header {
  @include section-header;
  width:200px;
  display:flex;
  justify-content: flex-start;
  text-align: center;
}
@mixin list--digit {
  @include section-text;
  width:150px;
  display:flex;
  justify-content: flex-end;
}

// DATE PERIOD
@mixin date--period--container {
  width:325px;
  height:40px;
  border:1px solid $light-grey;
  display:flex;
  align-items: center;
}

@mixin date--period--date-from {
  width:40%;
  height:28px;
  border-right:1px solid $light-grey;
  margin-left:30px;
}
@mixin date--period--date-to {
  width:33%;
  height:28px;
  margin-left:30px;
}
