@import 'variables';
@import 'normalize';
@import 'mixins';
@import 'layout';

// HEADERS
.page-header {
  @include page-header;
}
.section-header {
  @include section-header;
}
.section-text {
  @include section-text;
}

// LINKS
.large-link {
  @include large-link;
}
.small-link {
  @extend .large-link;
  font-size: 13px;
}                                       ////////// DODAC SVG!
[class*="link"]:hover {
  color:#ffa200;
}



// TABS
.tab {
  @include tab;
}
.tab--hover:hover {
  background-color:#f3f3f1;
  cursor: pointer;
}
.tab--focus:focus {
  @extend .tab;
  background-color:#f3f3f1;
  cursor: pointer;
}
// TABLE
.table {
  @include table;
}

.table--items-position {
  @include table--items-position;
}

.table--line-header {
  @include table--line-header;
}
.table--hover:hover {
  background-color:#f1f3f3;
  cursor: pointer;
}

// Button
.btn {
  @include btn;
}
.btn--dark-grey {
  background-color: $dark-grey;
}
.btn--grey {
  background-color: $grey;
}
.btn--dark-orange {
  background-color: $dark-orange;
}
.btn--orange {
  background-color: $orange;
}
.btn-disabled {
  @include btn-disabled;
}
.fa-circle {
  @include fa-circle;
}


// LIST WITH ONE DIGIT
.list--one-digit {
  @include list--one-digit;
}
.list--header {
  @include section-header;
}
.list--digit {
  @include list--digit;
}

// DATE
.date--period--container {
  @include date--period--container;
}
.date--period-from {
  @include date--period--date-from;
  @include section-text;
  @include flex-center;
}
.date--period--date-to {
  @include date--period--date-to;
  @include section-text;
  @include flex-center;
}

////////////////////////////
.calendar--icon {
  width:13px;
  height:13px;
  display:flex;
  content:'\0048';
  color: $light-grey;
  display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
////////////////////////////////

/* @font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
*/
