@import 'variables';
@import 'normalize';
@import 'layout';

// HEADERS
.page-header {
  @include page-header;
}
.section-header {
  @include section-header;
}
.section-text {
  @include section-text;
}

// LINKS
.large-link {
  @include large-link;
}
.small-link {
  @extend .large-link;
  font-size: 13px;
}
[class*="link"]:hover {
  color:#ffa200;
}

// TABS
.tab {
  @include tab;
}
.tab--hover:hover {
  background-color:#f3f3f1;
  cursor: pointer;
}
.tab--focus:focus {
  background-color:#f3f3f1;
  cursor: pointer;
}

// TABLE
.table {
  @include table;
}

.table--items-position {
  @include table--items-position;
}

.table--line-header {
  @include table--line-header;
}
.table--hover:hover {
  background-color:#f1f3f3;
}
