@import 'mixins';
@import 'variables';
@import 'normalize';
@import 'layout';
@import 'Glyphter';
@import 'sections/navbar';
@import 'sections/sidebar';
@import 'sections/main';

// FLEX CENTER

.width-100 {
  width:100%;
}

.flex-center {
  @include flex-center;
}

.row {
  display:flex;
  flex-direction: row;
}

.icon-links::before{
  color:$white;
  margin-left:10px;
  margin-right:10px;
}


//////////////////////////////// poprawic taby - bordery
////////////////////
