// GENERAL STATISTIC SECTION
.general--statistic {

  .btn-reset {
    margin-left:15px;
  }
}

.date--period-section {
  height:150px;
  border-top:1px solid $light-grey;
  border-bottom:1px solid $light-grey;
}

.lists--digit-section {
  height:160px;
  margin-top:50px;

  .list--one-digit--container {
    margin-top: 20px;
    margin-right: 20px;
  }
}

.earnings-chart-section {
  height:150px;
  width:685px;
  margin:50px auto;

  .tab {
    margin:20px 50px;
  }
}
