// GENERAL STATISTIC SECTION
.general--statistic {

  .btn-reset {
    margin-left:15px;
  }
}

.date--period-section {
  height:110px;
  border-top:1px solid $light-grey;
  border-bottom:1px solid $light-grey;
}

.lists--digit-section {
  height:160px;

  .list--one-digit--container {
    margin-top: 20px;
    margin-right: 20px;
  }
}
