// MAIN
body {
  position:relative;
  background-color:$light-grey;
  overflow-x:hidden;;
}

// MAIN
.container {
  width:calc(100vw - 210px) ;
  background-color:$white;
  padding-right: 15px;
  margin-left:200px;

  &:first-child {
    margin-top:75px;
  }
}
