// MAIN
body {
  position:relative;
  background-color:$light-grey;
}
main {
  position:absolute;
  top:60px;
}



// MAIN
.container {
  width:calc(100vw - 210px) ;
  background-color:$white;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 200px;
  margin-top:15px;

}
