// NAVBAR

.nav--container {
  width:100%;
  height:60px;
  border-bottom:1px solid $light-grey;
  background-color:$white;
  position: fixed;
  top:0;
  z-index:2;
}

.nav--exit {
  position:absolute;
  display:flex;
  justify-content: center;
  right:0;
  top:0;
  width:60px;
  height: 60px;
  border-left:1px solid $light-grey;

  &:hover {
    cursor:pointer;
  }

  &:hover .icon-quit {
    color:$orange;
  }
  .icon-quit {
    width:20px;
    height:20px;
    color:$dark-grey;
  }
}

.nav--profile {
  width:175px;
  border-left:1px solid $light-grey;
  position:absolute;
  right:60px;
  height:60px;


  &:hover {
    cursor:pointer;
    background-color:$light-grey;
  }
  .icon-personaldata {
    color:$dark-grey;
    margin-right:20px;
  }
  .small-link {
    margin:0;
  }
}

.nav--notification {
  width:60px;
  height:60px;
  border-left:1px solid $light-grey;
  position:absolute;
  right:235px;

  .icon-notification {
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    color:$dark-grey;

    .nav--notification-circle {
      width:8px;
      height:8px;
      border-radius:50%;
      margin-top:-2px;
      margin-left:-7px;
      background-color:$dark-orange;
    }
  }
}
 .wallet--container {
  position:relative;
  width:185px;
  height:60px;
  border-left:1px solid $light-grey;
  position:absolute;
  right:285px;

  [class*="icon"] {
    color:$dark-grey;
  }
}
/*
.wallet-items-first {

  &:hover .nav--wallet-second {
    display:block;
    position:absolute;
    bottom:0;
  }
  .icon-arrow-down-small {
    color:$dark-grey;
      margin-right:5px;
  }
  .icon-wallet {
    color:$dark-grey;
    margin-right:-5px;
  }
}
.wallet--items{
  background-color:$white;
  border-bottom:1px solid $light-grey;

  &:first-child {
    border-right:1px solid $light-grey;
  }
}

.nav--wallet-second {
  position:absolute;
  display:none;
  height:60px;

  &:hover li {
    height:60px;
    background-color:$white;
    width:180px;
  }
}
*/
