
.sidebar--brand {
    width:190px;
  height:60px;
  @include flex-center;
  text-align: center;
  background-color:$black;
  position:fixed;
  top:0;
  left:0;
  z-index:3;


  .sidebar--brand-title {
    text-align: center;
    @include page-header;
    color: $white;
    margin-left:-10px;
    padding-right:15px;
    &:hover {
      cursor:pointer;
    }
  }

  .fa-align-justify {
    color:$white;

    &:hover {
      cursor:pointer;
    }
  }
}

.sidebar--menu {
  display:none;
  opacity:0;
  transition:all 500ms;
  position:fixed;
  flex-direction: column;
  top:60px;
}
.sidebar--menu.show {
  display:flex;
  opacity:1;
  width:190px;
  background-color:$black;
  @include flex-center;
}
[class*="sidebar--menu-items"] {
  width:190px;
  margin-bottom: 10px;
  height:45px;
  display:flex;
  align-items: center;
  text-align: left;

  &:hover {
    cursor:pointer;
    background-color:$verylight-grey;
    border-left:5px solid #f58220;
  }

  &:hover .sidebar--menu-items {
    border-left:5px solid #f58220;
    width:50%;
  }

  &:hover .sidebar--menu-link, &:hover [class*="icon"], &:hover .icon-links::before {
    color:$white;
  }

  .sidebar--menu-link {
    @include small-link;
    color: $dark-grey;
  }
    // ICONS

  [class*="icon"]  {
    color:$dark-grey;
    margin-left: 30px;
    padding:0 10px;
    margin-right:0;
  }
  .icon-links::before {
    margin:0;
    color:$dark-grey;
  }
}

// YOUR MANAGER
.yourmanager-container {
  height:100vh;
}
.manager {
  max-height:50px;
  border-radius:50%;
  margin-left:20px;

  &:hover {
    cursor:pointer;
  }
  &:hover .link-small {
    color:$orange;
  }
}
.small-link {
  margin-left:5px;
  margin-top:15px;
}
.online-icon {
  margin-left:-11px;
  margin-top:3px;
  border:2px solid $black;
}

  // SIDEBAR SEPERATOR
.sidebar--seperator {
  border:1px solid $sidebar-seperator-color;
  height:1px;
  width:100%;
}
