.sidebar--container {
  width:190px;
  height:100vh;
  background-color:$black;
  position:fixed;
  top:0;
  left:0;
}

.sidebar--brand {
  width:50%;
  height:60px;
  @include flex-center;
  text-align: center;
}

.sidebar--brand-title {
  text-align: center;
  @include page-header;
  color: $white;
  margin-left:50px;
}

.sidebar--menu {
  @include flex-center;
  flex-direction: column;
}

[class*="sidebar--menu-items"] {
  width:100%;
  margin-bottom: 10px;
  height:45px;
  display:flex;
  align-items: center;
  text-align: left;

  &:hover {
    cursor:pointer;
    background-color:$verylight-grey;
    border-left:5px solid #f58220;
    color: $white;
  }

  &:hover .sidebar--menu-items {
    border-left:5px solid #f58220;
    width:50%;
  }

  &:hover .sidebar--menu-link, &:hover [class*="icon"], &:hover .icon-links::before {
    color:$white;
  }

  .sidebar--menu-link {
    @include small-link;
    color: $dark-grey;
  }
    // ICONS
  [class*="icon"]  {
    color:$dark-grey;
    margin-left: 30px;
    padding:0 10px;
    margin-right:0;
  }
  .icon-links::before {
    margin:0;
    color:$dark-grey;
  }
}

// YOUR MANAGER
.yourmanager-container {
  width:100%;
}

  // SIDEBAR SEPERATOR
.sidebar--seperator {
  border:1px solid $sidebar-seperator-color;
  height:1px;
  width:100%;
}
